{% block body %}

    <p>
        <a href="{{ path('app_pizza_new') }}">New pizza</a>
    </p>

    <table border="1" width="100%">
        {% for entity in entities %}
            <tr>
                <td>{{ entity }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
