{% extends "base.html.twig" %}


{% block body %}

    <p>
        <a href="{{ path('app_pizza_new') }}">New pizza</a>
    </p>

    <ul>
        {% for entity in entities %}
            <li>{{ entity }}</li>
        {% endfor %}
    </ul>

    <p>
        <a href="{{ path('homepage') }}">Back</a>
    </p>

{% endblock %}
