{% extends "base.html.twig" %}


{% block body %}

    <p>
        <a href="{{ path('app_pizza_index') }}">Pizza</a>
    </p>

    <p>
        <a href="{{ path('app_order_index') }}">Order</a>
    </p>

{% endblock %}
